
<!DOCTYPE html>
<html>

<head>
    <title>
        Chat App
    </title>
    <link rel="stylesheet" href="../public/style.css">
    <style>
      
      #footer {
        width: 100%;
        background-color: rgb(83, 183, 236);
         position: absolute;
         bottom: 0;
      }
      ul{
            list-style-type: none; 
           
          }
       
    
          

     </style>
</head>

<body>

	<h2><center>Chat App</center></h2>
    <hr>
            <div id="list" style="text-align: center;">
                <ul id="MyList"></ul>
            </div>
            


<form>
    <div id="footer">
        <center>
        <input type="text"  name="chat" id="chat" style="width: 800px;" required><button id="sendBtn" type="button" style="height: 33px;">Send</button>
        </center>
    </div>
</form>




<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

<script src="../public/chatMessge.js"></script>
</body>
</html>