
<!DOCTYPE html>
<html>

<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Chat App
    </title>
    <link rel="stylesheet" href="../public/style.css">
    <style>
      
    
 </style>
</head>

<body>
    <div class="sidenav">
        <a href="Dashboard.html">Dashboard</a>
        <a href="Chat.html">Chat</a>
        <a href="CreateGroups.html">Groups</a>
        <a href="ShowGroups.html">GroupChat</a>
      </div>
	<h2><center>Chat App</center></h2>
    <hr>
    <div id="list1" style="text-align: center;">
        <ul id="MyList1"></ul>
    </div>
            
<form>
    <input type="hidden" name="group_id"  id="group_id">
    <div id="footer" >
        <center>
        <input type="text"  name="chat" id="chat" style="width: 800px;" required><button id="sendBtn" type="button" style="height: 33px;">Send</button>
        </center>
    </div>
</form>




<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

<script src="../public/groupchat.js"></script>

</body>
</html>