
<!DOCTYPE html>
<html>

<head>
    <title>
        Login
    </title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>

	<h2><center>Login Page</center></h2>

<hr>
<div class="item-form">
    <form id="myForm" action="#">
        
        
        <div>
            <label for="email">Email</label>
            <input type="text"  name="email" id="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password"  name="password" id="password" required>
        </div>
        <div  class="form-action-buttons">
            <center>
            <button id="loginBtn" type="button">Login</button>&nbsp;&nbsp;
            </center>
        </div>
        <div  id="message">
            
        </div>
    </form>
</div>
<br/>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="../public/login.js"></script>
</body>
</html>